.hand-book {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .holder {
    display: flex;
    flex-wrap: wrap;
    // background-color: red;
    width: 100%;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
}
