.whatsapp {
  display: flex;
  align-items: center;

  justify-content: center;
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  z-index: 3;

  gap: 5px;

  animation: scale 0.6s linear 2s infinite alternate;

  div {
    width: 70px;
    height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 29px #999;
    
    // padding: 0 40px 0 20px;
    border-radius: 50%;
    background-color: #25D366;
    a {
      color: var(--white-color);
      font-size: 40px;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .whatsapp-alert-red {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      z-index: 4;
      position: absolute;
      top: -0.4vh;
      right: 1.5px;
      background-color: red;
    }
  }
}
@keyframes scale {
  from {
    scale: 0.9;
  }
  to {
    scale: 0.8;
  }
}
.whatsapp-text {
  background-color: var(--white-color);
  padding: 10px;
  box-shadow: 2px 2px 29px #999;
  border-radius: 10px;
}
