.gallery-image-banner {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  height: 26vh;
  object-fit: fill;
  padding-bottom: 40px;
  justify-content: space-between;
  background-color:var(--secondary-color);
  .breadcrumb {
    display: flex;
    padding-top: 10vh;
    padding-bottom: 7vh;

    align-self: flex-start;
  }
  .gallery-tittle {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    padding-bottom: 60px;
    color: #fff !important;
  }
}
